* {
	margin: 0px;
	padding: 0px;
	background-color: rgb(255, 239, 191);
	color: rgb(237, 75, 0);
	font-weight: 700;
}
html {
	padding-top: 60px;
}
h1 {
	position: absolute;
	top: 10px;
	left: 265px;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: grey;
}
p {
	margin-left: 250px;
}
#world{
	position: fixed;
}
#difficulty {
	position: absolute;
	left: 20px;
	top: 120px;
	border: 1px solid grey;
	background-color: lightblue;
	padding: 10px;
}
#settings {
	position: absolute;
	left: 20px;
	top: 205px;
	border: 1px solid grey;
	background-color: lightblue;
	padding: 10px;
}
#wrapper {
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	border-top: 3px solid grey;
	border-left: 3px solid grey;
	display: inline-block;
	margin-left: 260px;
}

.box {
	background-color: lightblue;
	width: 25px;
	height: 25px;
	display: inline-block;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid grey;
	border-bottom: 2px solid grey;
	margin: 0px;
}
.bomb {
	background-color: pink;
	width: 25px;
	height: 25px;
	display: inline-block;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid grey;
	border-bottom: 2px solid grey;
	margin: 0px;
}
.red {
	background: url('flag.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
.zero {
	background: url('number0.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
.one {
	background: url('number1.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
.two {
	background: url('number2.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
.three {
	background: url('number3.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
.four {
	background: url('number4.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
.five {
	background: url('number5.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
.six {
	background: url('number6.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
.seven {
	background: url('number7.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
.eight {
	background: url('number8.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
.explosion {
	background: url('explosion.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: 2px solid grey;
	margin: 0px;
}
#score {
	position: absolute;
	top: 60px;
	left: 20px;
	width: 78px;
	height: 35px;
	border: 1px solid grey;
	display: inline-block;
	background-color: lightblue;
	padding-top: 15px;
	padding-left: 15px;
}
#timer {
	position: absolute;
	top: 60px;
	left: 120px;
	width: 78px;
	height: 35px;
	border: 1px solid grey;
	display: inline-block;
	background-color: lightblue;
	padding-top: 15px;
	padding-left: 15px;
}
#bombsleft {
	position: absolute;
	top: 120px;
	left: 120px;
	width: 78px;
	height: 35px;
	border: 1px solid grey;
	display: inline-block;
	background-color: lightblue;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}